body{
    margin: auto;
}
a{
    text-decoration: none
}
/* header start*/
#head{
    background-color: black;
    width: 100%;
}
#websitename{
    color: white;
    font-size: 30px;
}
#tabs{
    margin-left: 55%;
}
#login{
    color: darkred;
    font-size: 20px;
}
#signup > button{
  margin-top: 8%;
  margin-left: -12%;
  border-radius: 30%;
}
#login > button{
  margin-top: 8%;
  margin-left: -8%;
  border-radius: 30%;
}
/* header end*/
#heading{
    text-align: center;
}
#mainContent{
    height:550px;
    width:90%;
    margin-left:5%;
    margin-top:2%;
}
.imgDiv{
    height:470px;
    width:42%;
    float: left;
    border:5px groove gray
}
.imgDiv > img {
    height:470px;
    width:100%; 
}
#name{
    margin-top: 5%;
    color: black;
}
.contentDiv{
    height:500px;
    width:55%;
    margin-left:2%;
    float: left;
    margin-top: -2%;
}
.feature_container{
    width:100%;
    display: inline-block;
}
.feature{
    float: left;
    margin-left:5%;
}
.imgIcon{
    height: 50px;
    width:50px;
    margin-left:2%
}
h2{
    font-size: 35px;
    color:green;
}
.fa-amazon{
    font-size:25px;
    color:orange
}
.checked{
    color:red
}
.btn1{
    height:50px;
    width:200px;
    font-size:20px;
    color:white;
    background-color:rgb(191, 236, 123)
}

.btn-proceed{
    background-color:rgb(144, 145, 235)
}
/* footer start */
.gallery_widget ul {
    margin-right: -10px;
    margin-top: -10px;
  }
  
  .gallery_widget ul li {
    width: calc(100% / 3);
    float: left;
    overflow: hidden;
    padding-right: 10px;
    padding-top: 10px;
  }
  
  .gallery_widget ul li a {
    position: relative;
    display: block;
    z-index: 2;
  }
  
  .gallery_widget ul li a img {
    max-width: 100%;
  }
  
  .gallery_widget ul li a:before {
    content: "";
    position: absolute;
    background: rgba(177, 4, 0, 0.6);
    width: 84%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
    transition: all 200ms linear;
  }
  
  .gallery_widget ul li a i {
    color: #fff;
    position: absolute;
    font-size: 14px;
    width: 100%;
    text-align: center;
    top: 50%;
    z-index: 3;
    left: 0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    transition: all 400ms linear 0s;
    margin-top: -4px;
  }
  
  .gallery_widget ul li:hover a:before {
    opacity: 1;
  }
  
 #copyright > h5{
     text-align: center;
 }
#footer{
    background-color:  black; 
    width: 100%;   
}
.f_w_title{
    text-align: center;
    color: white;
}
#copyright{
    height: 20px;
    width: 100%;
}
#copyright > h5{
    margin-top: -1%;
}
#social1{
  float: left;
  margin-left: -128%;
  margin-top: -12%;
}
/* Footer End */

@media screen and (max-width:1500px){
    #tabs{
      margin-left: 40%;
  }
   }
   @media screen and (max-width:1300px){
     
    #tabs{
        margin-left: 40%;
    }
    #social1{
      float: left;
      margin-left: -135%;
      margin-top: -22%;
    }
  }
  @media screen and (max-width:1100px){
    #tabs{
      margin-left: 30%;
    }
    .gallery_widget ul li a:before {
      content: "";
      position: absolute;
      background: rgba(177, 4, 0, 0.6);
      width:100%;
      height:100%;
      top: 0;
      left: 0;
      z-index: 1;
      opacity: 0;
      transition: all 200ms linear;
    }
  }
  @media screen and (max-width:1000px){
    #tabs{
      margin-left: 25%;
    }
    #gallary_pic > li{
      margin-left: 0%;
    }
    .gallery_widget ul {
      margin-right: -10px;
      margin-top: -10px;
    }
    
    .gallery_widget ul li {
      width: calc(100% / 12);
      float: left;
      overflow: hidden;
      padding-right: 10px;
      padding-top: 10px;
    }
    
    .gallery_widget ul li a {
      position: relative;
      display: block;
      z-index: 2;
    }
    
    .gallery_widget ul li a img {
      max-width: 100%;
    }
    .f_w_title{
      text-align: left;
      color: white;
  }
  }
  @media screen and (max-width:900px){
    #tabs{
      margin-left: 15%;
    }
  }
  @media screen and (max-width:800px){
    #tabs{
      margin-left: 0%;
    }
    #signup > button{
      margin-top: 1%;
      margin-left: 5%;
      border-radius: 30%;
    }
    #login > button{
      margin-top: 3%;
      margin-left: 5%;
      border-radius: 30%;
    }
  }
  @media screen and (max-width:600px){
    #tabs{
      margin-left: -4%;
    }
    #gallary_pic > li {
      margin-left: 3%;
    }
  .gallery_widget ul li {
    width: calc(100% / 12);
    float: left;
    overflow: hidden;
    padding-right: 0px;
    padding-top: 10px;
    }
    body {
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
      font-size: 17px;
      line-height: 1.42857143;
      color: #333; 
    }
    .gallery_widget ul li a:before {
      content: "";
      position: absolute;
      background: rgba(177, 4, 0, 0.6);
      width:100%;
      height:100%;
      top: 0;
      left: 0;
      z-index: 1;
      opacity: 0;
      transition: all 200ms linear;
    } 
  }