body{
    margin: auto;
}
a{
    text-decoration: none
}
/* header start*/
#head{
    background-color: black;
    width: 100%;
}
#websitename{
    color: white;
    font-size: 30px;
}
#tabs{
    margin-left: 55%;
}
#login{
    color: darkred;
    font-size: 20px;
}
#signup > button{
  margin-top: 8%;
  margin-left: -12%;
  border-radius: 30%;
}
#login > button{
  margin-top: 8%;
  margin-left: -8%;
  border-radius: 30%;
}
/* header end*/


#filterheading{
    font-size: 30px;
    text-align:center;
}
#filtersubheading{
    font-size: 20px;
    text-align:center;
}
#filterlist{
    margin-left: 25%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    font-weight: bold;
}

#button1{
    margin-left: -20%;
    float: left;
}
#button1 > a{
    color: white;
}
#button2{
    margin-top: -13%;
    margin-right: 10%;
    float: right;
}
#button2 > a{
    color: white;
}
#heading{
    text-align: center;
    height: 65px;
    width: 50%;
    font-size: 30px;
    margin-left: 25%;
    color: black;
}
#heading > h2{
    margin-top: 5%;
}
.mainContent{
    height:1000px;
    width:75%;
    margin-left:13%
}
#filter{
    height:975px;
    width:21%;
    border:4px solid black;
    float: left;
    overflow: scroll;
}
#card{
    height:975px;
    width:75%;
    margin-left:2%;
    float: left;
    overflow: scroll;
    
}

.foodcontent{
    height: 300px;
    width: 98%;
    box-shadow: 5px 10px 5px gray;
}

.foodcontent > img{
    height: 300px;
    width: 40%;
    border-radius: 5%;
}

.breakfastcontent{
    height: 300px;
    width: 60%;
    
   float: right;
}

#tilecontainer21{
    height: 300px;
    width: 100%;

}

.componentheading{
    margin-top: 12%;
    margin-left: 10%;

}
.componentheading > a{
    font-size: 35px;
}


.componentsubheading{
    margin-left: 15%;
    font-size: 25px;
    margin-top: 5%;

}

#button11{
    margin-top: 14%;
    margin-left: 11%;
}
#button11 > a{
    color: white;
}
#button12{
    margin-top: -7%;
    margin-left: 30%;
}
#button12 > a{
    color: white;
}
#button13{
    margin-top: -7%;
    margin-left: 48%;
}
#button13 > a{
    color: white;
}
#button14{
    margin-top: -7%;
    margin-left: 66%;
}
#button14 > a{
    color: white;
}
.button1{
    font-size: 20px;
    background-color: green;
    color: black;
    margin-left: 9%;
    margin-top: 11%;
}
.button2{
    background-color: yellow;
    font-size: 20px;
    color: black;
    margin-left: 9%;
    margin-top: 2%;
}
/* footer start */
.gallery_widget ul {
    margin-right: -10px;
    margin-top: -10px;
  }
  
  .gallery_widget ul li {
    width: calc(100% / 3);
    float: left;
    overflow: hidden;
    padding-right: 10px;
    padding-top: 10px;
  }
  
  .gallery_widget ul li a {
    position: relative;
    display: block;
    z-index: 2;
  }
  
  .gallery_widget ul li a img {
    max-width: 100%;
  }
  
  .gallery_widget ul li a:before {
    content: "";
    position: absolute;
    background: rgba(177, 4, 0, 0.6);
    width: 84%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
    transition: all 200ms linear;
  }
  
  .gallery_widget ul li a i {
    color: #fff;
    position: absolute;
    font-size: 14px;
    width: 100%;
    text-align: center;
    top: 50%;
    z-index: 3;
    left: 0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    transition: all 400ms linear 0s;
    margin-top: -4px;
  }
  
  .gallery_widget ul li:hover a:before {
    opacity: 1;
  }
  
 #copyright > h5{
     text-align: center;
 }
#footer{
    background-color:  black; 
    width: 100%;   
}
.f_w_title{
    text-align: center;
    color: white;
}
#copyright{
    height: 20px;
    width: 100%;
}
#copyright > h5{
    margin-top: -1%;
}
#social1{
  float: left;
  margin-left: -128%;
  margin-top: -12%;
}
/* Footer End */

/*responsive area*/
@media screen and (max-width:1500px){
    #tabs{
      margin-left: 50%;
  }
}
@media screen and (max-width:1400px){
    #tabs{
        margin-left: 45%;
    }
}
@media screen and (max-width:1300px){
    #tabs{
        margin-left: 42%;
    }
    .mainContent{
        height:1000px;
        width:80%;
        margin-left:13%
    }
    #filter{
        height:975px;
        width:23%;
        border:4px solid black;
        float: left;
        overflow: scroll;
    }
    #button11{
        margin-top: 14%;
        margin-left: 11%;
    }
    #button11 > a{
        color: white;
    }
    #button12{
        margin-top: -8%;
        margin-left: 30%;
    }
    #button12 > a{
        color: white;
    }
    #button13{
        margin-top: -8%;
        margin-left: 48%;
    }
    #button13 > a{
        color: white;
    }
    #button14{
        margin-top: -8%;
        margin-left: 66%;
    }
    #button14 > a{
        color: white;
    }
}
@media screen and (max-width:1200px){
    #tabs{
        margin-left: 30%;
    }
    #button11{
        margin-top: 14%;
        margin-left: 10%;
    }
    #button11 > a{
        color: white;
    }
    #button12{
        margin-top: -9%;
        margin-left: 30%;
    }
    #button12 > a{
        color: white;
    }
    #button13{
        margin-top: -9%;
        margin-left: 50%;
    }
    #button13 > a{
        color: white;
    }
    #button14{
        margin-top: -9%;
         margin-left: 70%;
    }
    #button14 > a{
        color: white;
    }
    #button1 {
        margin-left: 13%;
        float: left;
    }
    #button2 {
        margin-top: 3%;
        margin-right: 25%;
        float: right;
    }
}
@media screen and (max-width:900px){
    #tabs{
        margin-left: 15%;
    }
    #button11{
        margin-top: 14%;
        margin-left: 16%;
    }
    #button11 > a{
        color: white;
    }
    #button12{
        margin-top: -13%;
        margin-left: 49%;
    }
    #button12 > a{
        color: white;
    }
    #button13{
        margin-top: 9%;
        margin-left: 16%;
    }
    #button13 > a{
        color: white;
    }
    #button14{
        margin-top: -12%;
         margin-left: 50%;
    }
    #button14 > a{
        color: white;
    }
    #button1 {
        margin-left: 13%;
        float: left;
    }
    #button2 {
        margin-top: 3%;
        margin-right: 25%;
        float: right;
    }
    #button1 {
        margin-left: -28%;
        float: left;
    }
}
@media screen and (max-width:770px){
    #tabs{
        margin-left: -4%;
    }
    #signup > button {
        margin-top: 0%;
        margin-left: 0%;
        border-radius: 50%;
    }
    #login > button {
        margin-top: 2%;
        margin-left: 0%;
        border-radius: 60%;
    }
    #filter{
        height:200px;
        width:100%;
        border:4px solid black;
        float: left;
        overflow: scroll;
    }
    #card{
        margin-top: 5%;
        height:750px;
        width:100%;
        margin-left:2%;
        float: left;
        overflow: scroll;
        
    }
    #filterlist{
        margin-left: 25%;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 15px;
        font-weight: bold;
    }
    #button1 {
        margin-left: 10%;
        float: left;
    }
    #button2 {
        margin-top: -5%;
        margin-right: 39%;
        float: right;
    }
    .foodcontent{
        margin: 1%;
        height: 300px;
        width: 98%;
        box-shadow: 5px 10px 5px gray;
    }
}
@media screen and (max-width:500px){
    #button12 {
        margin-top: -15%;
        margin-left: 54%;
    }
    #button14 {
        margin-top: -16%;
        margin-left: 54%;
    }

}